.intro {
  display: flex;
  align-items: center;
  flex-flow: row wrap-reverse;
  justify-content: center;
}
.side-hero {
  min-height: 100vh;
  background: linear-gradient(rgba(37, 56, 88, 0.6), rgba(37, 56, 88, 0.6)),
    url('../../assets/img/landing-bg.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 568px) {
}
