$base-size: 4px;
input,
input[type='text'],
input[type='email'],
input[type='password'] {
  font-size: 16px;
  margin-bottom: 2 * $base-size;
  display: block !important;
  border-radius: 1.2 * $base-size !important;
  border: 2px solid $color-light !important;
  width: 100% !important;
}
input[type='text'] {
  padding: 2 * $base-size 3 * $base-size;
  color: $dark !important;
  background-color: $color-light;

  display: block !important;
  width: 100%;
  &:focus {
    border-color: rgba($green, 0.4);
  }
}
input[type='date'] {
  border: 1px solid $color-light;
  padding: 2 * $base-size 3 * $base-size;
  color: $dark !important;
  background-color: $color-light;
  margin-bottom: 2 * $base-size;
  display: block;
  width: 100%;
  background-color: #fff;
  background-clip: padding-box;
}

input {
  &.input-lg {
    padding: 3 * $base-size 3 * $base-size;
  }
}
label {
  color: $color-grey;
}
.border-green {
  border: 1px solid $color-green;
}
