// colors
$blue: #1890ff;
$teal: #00b8d9;
$violet: #6554c0;
$redish: #ff5630;
$yellow: #ffab00;
$green: #03a87c;
$dark: #253858;

//font base
$font-base: 12;

// Breakpoints
$grid-breakpoint-xs: 576px;
$grid-breakpoint-sm: 600px;
$grid-breakpoint-md: 768px;
$grid-breakpoint-lg: 992px;
$grid-breakpoint-xl: 1200px;

$columns: 24;
$font-size-base: 16;
$column-gutter: 15;
$px: 1px;
// Custom Colors
$color-black: #212f3c;
$color-dark: $dark;
$color-grey: rgba($dark, 0.6);
$color-blue: #0271e3;
$color-green: $green;
$color-white: #fff;
$color-light: #dbdcde;

$text-color: $color-black;
$input-color-placeholder: silver;
$color-modal-bg: $color-white;
$text-base-size: $font-size-base;
$heading-base-size: 4;

html {
  body {
    color: $color-black;
  }
}
