html body {
  color: #212f3c;
}

html body {
  color: #212f3c;
}

* {
  box-sizing: border-box;
}

.container, .container-md, .container-fluid {
  max-width: 992px;
  margin: 0 auto;
}
.container-fluid {
  max-width: 100%;
  margin-left: 16px;
  margin-right: 16px;
}
.container-md {
  max-width: 768px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .col-xs-1 {
    width: 8.3333333333%;
    flex: 0 1 8.3333333333% !important;
  }

  .col-xs-2 {
    width: 16.6666666667%;
    flex: 0 1 16.6666666667% !important;
  }

  .col-xs-3 {
    width: 25%;
    flex: 0 1 25% !important;
  }

  .col-xs-4 {
    width: 33.3333333333%;
    flex: 0 1 33.3333333333% !important;
  }

  .col-xs-5 {
    width: 41.6666666667%;
    flex: 0 1 41.6666666667% !important;
  }

  .col-xs-6 {
    width: 50%;
    flex: 0 1 50% !important;
  }

  .col-xs-7 {
    width: 58.3333333333%;
    flex: 0 1 58.3333333333% !important;
  }

  .col-xs-8 {
    width: 66.6666666667%;
    flex: 0 1 66.6666666667% !important;
  }

  .col-xs-9 {
    width: 75%;
    flex: 0 1 75% !important;
  }

  .col-xs-10 {
    width: 83.3333333333%;
    flex: 0 1 83.3333333333% !important;
  }

  .col-xs-11 {
    width: 91.6666666667%;
    flex: 0 1 91.6666666667% !important;
  }

  .col-xs-12 {
    width: 100%;
    flex: 0 1 100% !important;
  }
}
.col-1 {
  box-sizing: border-box !important;
  position: relative;
  flex: 0 1 8.3333333333% !important;
  max-width: 8.3333333333% !important;
  padding-right: 15px;
  padding-left: 15px;
}

.col-2 {
  box-sizing: border-box !important;
  position: relative;
  flex: 0 1 16.6666666667% !important;
  max-width: 16.6666666667% !important;
  padding-right: 15px;
  padding-left: 15px;
}

.col-3 {
  box-sizing: border-box !important;
  position: relative;
  flex: 0 1 25% !important;
  max-width: 25% !important;
  padding-right: 15px;
  padding-left: 15px;
}

.col-4 {
  box-sizing: border-box !important;
  position: relative;
  flex: 0 1 33.3333333333% !important;
  max-width: 33.3333333333% !important;
  padding-right: 15px;
  padding-left: 15px;
}

.col-5 {
  box-sizing: border-box !important;
  position: relative;
  flex: 0 1 41.6666666667% !important;
  max-width: 41.6666666667% !important;
  padding-right: 15px;
  padding-left: 15px;
}

.col-6 {
  box-sizing: border-box !important;
  position: relative;
  flex: 0 1 50% !important;
  max-width: 50% !important;
  padding-right: 15px;
  padding-left: 15px;
}

.col-7 {
  box-sizing: border-box !important;
  position: relative;
  flex: 0 1 58.3333333333% !important;
  max-width: 58.3333333333% !important;
  padding-right: 15px;
  padding-left: 15px;
}

.col-8 {
  box-sizing: border-box !important;
  position: relative;
  flex: 0 1 66.6666666667% !important;
  max-width: 66.6666666667% !important;
  padding-right: 15px;
  padding-left: 15px;
}

.col-9 {
  box-sizing: border-box !important;
  position: relative;
  flex: 0 1 75% !important;
  max-width: 75% !important;
  padding-right: 15px;
  padding-left: 15px;
}

.col-10 {
  box-sizing: border-box !important;
  position: relative;
  flex: 0 1 83.3333333333% !important;
  max-width: 83.3333333333% !important;
  padding-right: 15px;
  padding-left: 15px;
}

.col-11 {
  box-sizing: border-box !important;
  position: relative;
  flex: 0 1 91.6666666667% !important;
  max-width: 91.6666666667% !important;
  padding-right: 15px;
  padding-left: 15px;
}

.col-12 {
  box-sizing: border-box !important;
  position: relative;
  flex: 0 1 100% !important;
  max-width: 100% !important;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 600px) {
  .col-sm-1 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 8.3333333333% !important;
    max-width: 8.3333333333% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-sm-2 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 16.6666666667% !important;
    max-width: 16.6666666667% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-sm-3 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 25% !important;
    max-width: 25% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-sm-4 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 33.3333333333% !important;
    max-width: 33.3333333333% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-sm-5 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 41.6666666667% !important;
    max-width: 41.6666666667% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-sm-6 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 50% !important;
    max-width: 50% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-sm-7 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 58.3333333333% !important;
    max-width: 58.3333333333% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-sm-8 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 66.6666666667% !important;
    max-width: 66.6666666667% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-sm-9 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 75% !important;
    max-width: 75% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-sm-10 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 83.3333333333% !important;
    max-width: 83.3333333333% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-sm-11 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 91.6666666667% !important;
    max-width: 91.6666666667% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-sm-12 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 100% !important;
    max-width: 100% !important;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (min-width: 768px) {
  .col-md-1 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 8.3333333333% !important;
    max-width: 8.3333333333% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-md-2 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 16.6666666667% !important;
    max-width: 16.6666666667% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-md-3 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 25% !important;
    max-width: 25% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-md-4 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 33.3333333333% !important;
    max-width: 33.3333333333% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-md-5 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 41.6666666667% !important;
    max-width: 41.6666666667% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-md-6 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 50% !important;
    max-width: 50% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-md-7 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 58.3333333333% !important;
    max-width: 58.3333333333% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-md-8 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 66.6666666667% !important;
    max-width: 66.6666666667% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-md-9 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 75% !important;
    max-width: 75% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-md-10 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 83.3333333333% !important;
    max-width: 83.3333333333% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-md-11 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 91.6666666667% !important;
    max-width: 91.6666666667% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-md-12 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 100% !important;
    max-width: 100% !important;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (min-width: 992px) {
  .col-lg-1 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 8.3333333333% !important;
    max-width: 8.3333333333% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-lg-2 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 16.6666666667% !important;
    max-width: 16.6666666667% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-lg-3 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 25% !important;
    max-width: 25% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-lg-4 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 33.3333333333% !important;
    max-width: 33.3333333333% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-lg-5 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 41.6666666667% !important;
    max-width: 41.6666666667% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-lg-6 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 50% !important;
    max-width: 50% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-lg-7 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 58.3333333333% !important;
    max-width: 58.3333333333% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-lg-8 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 66.6666666667% !important;
    max-width: 66.6666666667% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-lg-9 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 75% !important;
    max-width: 75% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-lg-10 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 83.3333333333% !important;
    max-width: 83.3333333333% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-lg-11 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 91.6666666667% !important;
    max-width: 91.6666666667% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-lg-12 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 100% !important;
    max-width: 100% !important;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 8.3333333333% !important;
    max-width: 8.3333333333% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-xl-2 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 16.6666666667% !important;
    max-width: 16.6666666667% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-xl-3 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 25% !important;
    max-width: 25% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-xl-4 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 33.3333333333% !important;
    max-width: 33.3333333333% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-xl-5 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 41.6666666667% !important;
    max-width: 41.6666666667% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-xl-6 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 50% !important;
    max-width: 50% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-xl-7 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 58.3333333333% !important;
    max-width: 58.3333333333% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-xl-8 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 66.6666666667% !important;
    max-width: 66.6666666667% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-xl-9 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 75% !important;
    max-width: 75% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-xl-10 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 83.3333333333% !important;
    max-width: 83.3333333333% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-xl-11 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 91.6666666667% !important;
    max-width: 91.6666666667% !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-xl-12 {
    box-sizing: border-box !important;
    position: relative;
    flex: 0 1 100% !important;
    max-width: 100% !important;
    padding-right: 15px;
    padding-left: 15px;
  }
}
.hidden-down {
  display: none !important;
}

.block-down {
  display: block;
  width: 100%;
  margin: auto !important;
}

.hidden-up {
  display: none !important;
}

.block-up {
  display: block;
  width: 100%;
  margin: auto !important;
}

@media screen and (max-width: 599px) {
  .hidden-sm-down {
    display: none !important;
  }

  .block-sm-down {
    display: block;
    width: 100%;
    margin: auto !important;
  }
}
@media screen and (min-width: 599px) {
  .hidden-sm-up {
    display: none !important;
  }

  .block-sm-up {
    display: block;
    width: 100%;
    margin: auto !important;
  }
}
@media screen and (max-width: 767px) {
  .hidden-md-down {
    display: none !important;
  }

  .block-md-down {
    display: block;
    width: 100%;
    margin: auto !important;
  }
}
@media screen and (min-width: 767px) {
  .hidden-md-up {
    display: none !important;
  }

  .block-md-up {
    display: block;
    width: 100%;
    margin: auto !important;
  }
}
@media screen and (max-width: 991px) {
  .hidden-lg-down {
    display: none !important;
  }

  .block-lg-down {
    display: block;
    width: 100%;
    margin: auto !important;
  }
}
@media screen and (min-width: 991px) {
  .hidden-lg-up {
    display: none !important;
  }

  .block-lg-up {
    display: block;
    width: 100%;
    margin: auto !important;
  }
}
@media screen and (max-width: 1199px) {
  .hidden-xl-down {
    display: none !important;
  }

  .block-xl-down {
    display: block;
    width: 100%;
    margin: auto !important;
  }
}
@media screen and (min-width: 1199px) {
  .hidden-xl-up {
    display: none !important;
  }

  .block-xl-up {
    display: block;
    width: 100%;
    margin: auto !important;
  }
}
.flexbox {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-align-content {
  align-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.btn,
a.btn {
  font-size: 15px;
  text-decoration: none;
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin: 0.5rem;
}
.btn-sm,
a.btn-sm {
  padding: 0.5rem 1rem;
}

.rounded {
  border-radius: 4px;
}

.rounded-0 {
  border-radius: 0;
}

.rounded-lg {
  border-radius: 8px;
}

.pill {
  border-radius: 50rem;
}

.btn-blue {
  color: #f5f8fc !important;
  background-color: rgba(0, 82, 204, 0.99);
}
.btn-blue:hover {
  background-color: #0052cc;
  content: "bictch";
}

.btn-primary {
  color: #f5f8fc !important;
  background-color: rgba(3, 168, 124, 0.99);
}
.btn-primary:hover {
  background-color: #03a87c;
  content: "bictch";
}

.btn-violet {
  color: #f5f8fc !important;
  background-color: rgba(101, 84, 192, 0.99);
}
.btn-violet:hover {
  background-color: #6554c0;
  content: "bictch";
}

.btn-danger {
  color: #f5f8fc !important;
  background-color: rgba(255, 86, 48, 0.99);
}
.btn-danger:hover {
  background-color: #ff5630;
  content: "bictch";
}

.btn-warning {
  color: #f5f8fc !important;
  background-color: rgba(255, 171, 0, 0.99);
}
.btn-warning:hover {
  background-color: #ffab00;
  content: "bictch";
}

.btn-success {
  color: #f5f8fc !important;
  background-color: rgba(3, 168, 124, 0.99);
}
.btn-success:hover {
  background-color: #03a87c;
  content: "bictch";
}

.btn-dark {
  color: #f5f8fc !important;
  background-color: rgba(23, 43, 77, 0.99);
}
.btn-dark:hover {
  background-color: #172b4d;
  content: "bictch";
}

.btn-white {
  color: #172b4d !important;
  background-color: rgba(255, 255, 255, 0.99);
}
.btn-white:hover {
  background-color: white;
  content: "bictch";
}

.btn-light {
  color: #172b4d !important;
  background-color: rgba(245, 248, 252, 0.99);
}
.btn-light:hover {
  background-color: #f5f8fc;
  content: "bictch";
}

.btn-outline-blue {
  background-color: #fff !important;
  color: #0052cc;
  border: 1px solid #0052cc;
}
.btn-outline-blue:hover {
  background-color: #0052cc !important;
  color: #fff !important;
}

.btn-outline-primary {
  background-color: #fff !important;
  color: #03a87c;
  border: 1px solid #03a87c;
}
.btn-outline-primary:hover {
  background-color: #03a87c !important;
  color: #fff !important;
}

.btn-outline-violet {
  background-color: #fff !important;
  color: #6554c0;
  border: 1px solid #6554c0;
}
.btn-outline-violet:hover {
  background-color: #6554c0 !important;
  color: #fff !important;
}

.btn-outline-danger {
  background-color: #fff !important;
  color: #ff5630;
  border: 1px solid #ff5630;
}
.btn-outline-danger:hover {
  background-color: #ff5630 !important;
  color: #fff !important;
}

.btn-outline-warning {
  background-color: #fff !important;
  color: #ffab00;
  border: 1px solid #ffab00;
}
.btn-outline-warning:hover {
  background-color: #ffab00 !important;
  color: #fff !important;
}

.btn-outline-success {
  background-color: #fff !important;
  color: #03a87c;
  border: 1px solid #03a87c;
}
.btn-outline-success:hover {
  background-color: #03a87c !important;
  color: #fff !important;
}

.btn-outline-dark {
  background-color: #fff !important;
  color: #172b4d;
  border: 1px solid #172b4d;
}
.btn-outline-dark:hover {
  background-color: #172b4d !important;
  color: #fff !important;
}

.btn-outline-white {
  background-color: #fff !important;
  color: #fff;
  border: 1px solid white;
}
.btn-outline-white:hover {
  background-color: #fff !important;
  color: #fff !important;
}

.btn-outline-light {
  background-color: #fff !important;
  color: #f5f8fc;
  border: 1px solid #f5f8fc;
}
.btn-outline-light:hover {
  background-color: #f5f8fc !important;
  color: #fff !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.headline-6 {
  font-size: 12px !important;
  margin-bottom: 24px !important;
  font-weight: 500 !important;
}

.headline-5 {
  font-size: 14px !important;
  margin-bottom: 24px !important;
  font-weight: 500 !important;
}

.headline-4 {
  font-size: 20px !important;
  margin-bottom: 24px !important;
  font-weight: 500 !important;
}

.headline-3 {
  font-size: 24px !important;
  margin-bottom: 24px !important;
  font-weight: 500 !important;
}

.headline-2 {
  font-size: 36px !important;
  margin-bottom: 24px !important;
  font-weight: 500 !important;
}

.headline-1 {
  font-size: 52px !important;
  margin-bottom: 24px !important;
  font-weight: 500 !important;
}

.text-xs {
  font-size: 12px !important;
  margin-top: 18px !important;
}

.text-sm {
  font-size: 14px !important;
  margin-top: 21px !important;
}

.text-md {
  font-size: 16px !important;
  margin-top: 24px !important;
}

.text-lg {
  font-size: 18px !important;
  margin-top: 27px !important;
}

.text-xl {
  font-size: 20px !important;
  margin-top: 30px !important;
}

.text-blue {
  color: #0052cc !important;
}

.bg-blue {
  background-color: #0052cc !important;
}

.text-primary {
  color: #00b8d9 !important;
}

.bg-primary {
  background-color: #00b8d9 !important;
}

.text-violet {
  color: #6554c0 !important;
}

.bg-violet {
  background-color: #6554c0 !important;
}

.text-danger {
  color: #ff5630 !important;
}

.bg-danger {
  background-color: #ff5630 !important;
}

.text-warning {
  color: #ffab00 !important;
}

.bg-warning {
  background-color: #ffab00 !important;
}

.text-success {
  color: #03a87c !important;
}

.bg-success {
  background-color: #03a87c !important;
}

.text-dark {
  color: #172b4d !important;
}

.bg-dark {
  background-color: #172b4d !important;
}

.text-grey {
  color: rgba(23, 43, 77, 0.6) !important;
}

.bg-grey {
  background-color: rgba(23, 43, 77, 0.6) !important;
}

.text-white {
  color: #fff !important;
}

.bg-white {
  background-color: #fff !important;
}

.text-light {
  color: #f5f8fc !important;
}

.bg-light {
  background-color: #f5f8fc !important;
}

.font-weight-light {
  font-weight: 300 !important;
}

.font-weight-regular {
  font-weight: 400 !important;
}

.font-weight-medium {
  font-weight: 500 !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right;
}

.mr-0, .mx-0, .m-0 {
  margin-right: 0px !important;
}

.ml-0, .mx-0, .m-0 {
  margin-left: 0px !important;
}

.mb-0, .my-0, .m-0 {
  margin-bottom: 0px !important;
}

.mt-0, .my-0, .m-0 {
  margin-top: 0px !important;
}

.pr-0, .px-0, .p-0 {
  padding-right: 0px !important;
}

.pl-0, .px-0, .p-0 {
  padding-left: 0px !important;
}

.pb-0, .py-0, .p-0 {
  padding-bottom: 0px !important;
}

.pt-0, .py-0, .p-0 {
  padding-top: 0px !important;
}

.mr-1, .mx-1, .m-1 {
  margin-right: 4px !important;
}

.ml-1, .mx-1, .m-1 {
  margin-left: 4px !important;
}

.mb-1, .my-1, .m-1 {
  margin-bottom: 4px !important;
}

.mt-1, .my-1, .m-1 {
  margin-top: 4px !important;
}

.pr-1, .px-1, .p-1 {
  padding-right: 4px !important;
}

.pl-1, .px-1, .p-1 {
  padding-left: 4px !important;
}

.pb-1, .py-1, .p-1 {
  padding-bottom: 4px !important;
}

.pt-1, .py-1, .p-1 {
  padding-top: 4px !important;
}

.mr-2, .mx-2, .m-2 {
  margin-right: 8px !important;
}

.ml-2, .mx-2, .m-2 {
  margin-left: 8px !important;
}

.mb-2, .my-2, .m-2 {
  margin-bottom: 8px !important;
}

.mt-2, .my-2, .m-2 {
  margin-top: 8px !important;
}

.pr-2, .px-2, .p-2 {
  padding-right: 8px !important;
}

.pl-2, .px-2, .p-2 {
  padding-left: 8px !important;
}

.pb-2, .py-2, .p-2 {
  padding-bottom: 8px !important;
}

.pt-2, .py-2, .p-2 {
  padding-top: 8px !important;
}

.mr-3, .mx-3, .m-3 {
  margin-right: 12px !important;
}

.ml-3, .mx-3, .m-3 {
  margin-left: 12px !important;
}

.mb-3, .my-3, .m-3 {
  margin-bottom: 12px !important;
}

.mt-3, .my-3, .m-3 {
  margin-top: 12px !important;
}

.pr-3, .px-3, .p-3 {
  padding-right: 12px !important;
}

.pl-3, .px-3, .p-3 {
  padding-left: 12px !important;
}

.pb-3, .py-3, .p-3 {
  padding-bottom: 12px !important;
}

.pt-3, .py-3, .p-3 {
  padding-top: 12px !important;
}

.mr-4, .mx-4, .m-4 {
  margin-right: 16px !important;
}

.ml-4, .mx-4, .m-4 {
  margin-left: 16px !important;
}

.mb-4, .my-4, .m-4 {
  margin-bottom: 16px !important;
}

.mt-4, .my-4, .m-4 {
  margin-top: 16px !important;
}

.pr-4, .px-4, .p-4 {
  padding-right: 16px !important;
}

.pl-4, .px-4, .p-4 {
  padding-left: 16px !important;
}

.pb-4, .py-4, .p-4 {
  padding-bottom: 16px !important;
}

.pt-4, .py-4, .p-4 {
  padding-top: 16px !important;
}

.mr-5, .mx-5, .m-5 {
  margin-right: 20px !important;
}

.ml-5, .mx-5, .m-5 {
  margin-left: 20px !important;
}

.mb-5, .my-5, .m-5 {
  margin-bottom: 20px !important;
}

.mt-5, .my-5, .m-5 {
  margin-top: 20px !important;
}

.pr-5, .px-5, .p-5 {
  padding-right: 20px !important;
}

.pl-5, .px-5, .p-5 {
  padding-left: 20px !important;
}

.pb-5, .py-5, .p-5 {
  padding-bottom: 20px !important;
}

.pt-5, .py-5, .p-5 {
  padding-top: 20px !important;
}

.mr-6, .mx-6, .m-6 {
  margin-right: 24px !important;
}

.ml-6, .mx-6, .m-6 {
  margin-left: 24px !important;
}

.mb-6, .my-6, .m-6 {
  margin-bottom: 24px !important;
}

.mt-6, .my-6, .m-6 {
  margin-top: 24px !important;
}

.pr-6, .px-6, .p-6 {
  padding-right: 24px !important;
}

.pl-6, .px-6, .p-6 {
  padding-left: 24px !important;
}

.pb-6, .py-6, .p-6 {
  padding-bottom: 24px !important;
}

.pt-6, .py-6, .p-6 {
  padding-top: 24px !important;
}

.mr-7, .mx-7, .m-7 {
  margin-right: 28px !important;
}

.ml-7, .mx-7, .m-7 {
  margin-left: 28px !important;
}

.mb-7, .my-7, .m-7 {
  margin-bottom: 28px !important;
}

.mt-7, .my-7, .m-7 {
  margin-top: 28px !important;
}

.pr-7, .px-7, .p-7 {
  padding-right: 28px !important;
}

.pl-7, .px-7, .p-7 {
  padding-left: 28px !important;
}

.pb-7, .py-7, .p-7 {
  padding-bottom: 28px !important;
}

.pt-7, .py-7, .p-7 {
  padding-top: 28px !important;
}

.mr-8, .mx-8, .m-8 {
  margin-right: 32px !important;
}

.ml-8, .mx-8, .m-8 {
  margin-left: 32px !important;
}

.mb-8, .my-8, .m-8 {
  margin-bottom: 32px !important;
}

.mt-8, .my-8, .m-8 {
  margin-top: 32px !important;
}

.pr-8, .px-8, .p-8 {
  padding-right: 32px !important;
}

.pl-8, .px-8, .p-8 {
  padding-left: 32px !important;
}

.pb-8, .py-8, .p-8 {
  padding-bottom: 32px !important;
}

.pt-8, .py-8, .p-8 {
  padding-top: 32px !important;
}

.mr-auto, .mx-auto, .m-auto {
  margin-right: auto;
}

.ml-auto, .mx-auto, .m-auto {
  margin-left: auto;
}

.mb-auto, .my-auto, .m-auto {
  margin-bottom: auto;
}

.mt-auto, .my-auto, .m-auto {
  margin-top: auto;
}

.pr-auto, .px-auto, .p-auto {
  padding-right: auto;
}

.pl-auto, .px-auto, .p-auto {
  padding-left: auto;
}

.pb-auto, .py-auto, .p-auto {
  padding-bottom: auto;
}

.pt-auto, .py-auto, .p-auto {
  padding-top: auto;
}

.shadow {
  box-shadow: 0 16px 20px rgba(159, 177, 195, 0.3);
}

.block {
  display: block;
  width: 100%;
  margin: auto;
}

input,
input[type=text],
input[type=email],
input[type=password] {
  font-size: 16px;
  margin-bottom: 8px;
  display: block !important;
  border-radius: 4.8px !important;
  border: 2px solid #f5f8fc !important;
  width: 100% !important;
}

input[type=text] {
  padding: 8px 12px;
  color: #172b4d !important;
  background-color: #f5f8fc;
  display: block !important;
  width: 100%;
}
input[type=text]:focus {
  border-color: rgba(3, 168, 124, 0.4);
}

input[type=date] {
  border: 1px solid #f5f8fc;
  padding: 8px 12px;
  color: #172b4d !important;
  background-color: #f5f8fc;
  margin-bottom: 8px;
  display: block;
  width: 100%;
  background-color: #fff;
  background-clip: padding-box;
}

input.input-lg {
  padding: 12px 12px;
}

label {
  color: rgba(23, 43, 77, 0.6);
}

.border-green {
  border: 1px solid #03a87c;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif !important;
  margin: 0 !important;
  padding: 0 !important;
}

* {
  box-sizing: border-box !important;
}

/*# sourceMappingURL=mint.css.map */
